nav, header {
    color: rgb(141, 219, 69);
}

#navbarNav a{
    color:rgb(223, 53, 53);
}

.icono {
    font-size: 3rem; 
    color: rgb(8, 3, 10);
    background-color: rgb(133, 28, 171);
    padding: 1rem;
    margin: 1rem;
    border-radius: 12px;
}

.icono-contacto {
    font-size: 2rem; 
    color: rgba(255, 111, 243, 0.788);
    background-color: rgb(185, 31, 116);
    /*        arriba derecha abajo izq 
    padding: 0.5rem 1rem 0.5rem 1rem; */
    padding: 0.8rem 1rem;
    margin: 1rem;
    border-radius: 75%;
}

#icono-footer{
    font-size: 5rem; 
    color: rgba(105, 216, 250, 0.829);
    padding: 1rem;
    margin: 1rem;
    border-radius: 12px;
}

.subtitulo-habilidades {
    margin-top: 16px;
}

header {
    padding-right: 0px !important;
    padding-left: 0px !important;
    height: 100vh;

    background-image: url('soyelmasperronaqui.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; /* Keep the image in place while scrolling */
    filter: brightness(0.8); /* Adjust the brightness */
}
  

#iconos a {
    padding-top: 16px;
}